/* Alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* root CSS variables */
:root {
  /* colors */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  /* spacing */
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space--200: 24px;
}

/* ========= */
body {
  min-height: 100vh;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
}

/* Blog Card */
.blog-card {
  max-width: 384px;
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 #000000;
  padding: var(--space--200);
}

.blog-card .blog-img {
  border-radius: 10px;
  max-width: 100%;
  object-fit: cover;
}
