/* Alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* root CSS variables */
:root {
  /* colors */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  /* spacing */
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;

  --space--200: 24px;
}

/* Fonts */
@font-face {
  font-family: "FigtreeExtraBold";
  src: url("./../assets/fonts/static/Figtree-ExtraBold.ttf");
}
@font-face {
  font-family: "FigtreeMedium";
  src: url("./../assets/fonts/static/Figtree-Medium.ttf");
}

/* ========= */
body {
  min-height: 100vh;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--space--200);
}
main {
  flex: 1;
  display: flex;
  align-items: center;
}

/* Blog Card */
.blog-card {
  max-width: 384px;
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 #000000;
  padding: var(--space--200);
}

/* The Blog Image */
.blog-card .blog-img {
  border-radius: 10px;
  max-width: 100%;
  object-fit: cover;
}

/* The Blog Content */
.blog-card .content {
  margin-block: var(--space--200);
}

.blog-card .content .category {
  background-color: var(--yellow);

  font-family: "FigtreeExtraBold", sans-serif;
  color: var(--gray-950);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  padding: var(--space-50) var(--space-150);
  border-radius: 4px;
}

.blog-card .content .publish-date {
  margin-block: var(--space-150);

  font-family: "FigtreeMedium", sans-serif;
  color: var(--gray-950);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.blog-card .content h2.title {
  margin-block: var(--space-150);

  font-family: "FigtreeExtraBold", sans-serif;
  color: var(--gray-950);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0;
}

.blog-card .content h2.title:hover {
  cursor: pointer;
  color: var(--yellow);
}

.blog-card .content h2.title:focus {
  color: var(--yellow);
}

.blog-card .content p.description {
  margin: 0;

  font-family: "FigtreeMedium", sans-serif;
  color: var(--gray-500);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

/* The Blog Author */
.blog-card .author {
  display: flex;
  align-items: center;
  gap: var(--space-150);
}

.blog-card .author .name {
  font-family: "FigtreeExtraBold", sans-serif;
  color: var(--gray-950);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

address.name {
  font-style: normal;
}
/* footer */
footer {
  margin-bottom: var(--space-150);
}
